
Loom.jucer
JuceLibraryCode/ReadMe.txt
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_graphics_Harfbuzz.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_core_CompilationTime.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_processors_lv2_libs.cpp
JuceLibraryCode/include_juce_audio_processors_ara.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.mm
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.mm
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_basics.cpp
Builds/VisualStudio2022/resources.rc
Builds/VisualStudio2022/Loom_VST3ManifestHelper.vcxproj.filters
Builds/VisualStudio2022/Loom_VST3ManifestHelper.vcxproj
Builds/VisualStudio2022/Loom_VST3.vcxproj.filters
Builds/VisualStudio2022/Loom_VST3.vcxproj
Builds/VisualStudio2022/Loom_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2022/Loom_StandalonePlugin.vcxproj
Builds/VisualStudio2022/Loom_SharedCode.vcxproj.filters
Builds/VisualStudio2022/Loom_SharedCode.vcxproj
Builds/VisualStudio2022/Loom.sln
Builds/VisualStudio2022/.vs/Loom/v17/Solution.VC.db
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/e8c652147bb0b2c6/PLUGINEDITOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/c518bb79e4648e7b/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/b2a7aa42c5a971e7/PLUGINEDITOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/1b28606d5074cc14/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/fileList.bin
Builds/VisualStudio2022/.vs/Loom/v17/DocumentLayout.json
Builds/VisualStudio2022/.vs/Loom/v17/Browse.VC.db
Builds/VisualStudio2022/.vs/Loom/v17/.suo
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/e52d7014-9df0-4d5d-8f68-ffd61507e2d4.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/82cf6a5c-3af7-4b31-bf56-bc913a237003.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/29f12885-2ea6-467e-b50d-8986889c105f.vsidx
Source/DSP/.vs/VSWorkspaceState.json
Source/DSP/.vs/slnx.sqlite
Source/DSP/.vs/ProjectSettings.json
Source/DSP/.vs/DSP/v17/DocumentLayout.json
Source/DSP/.vs/DSP/v17/Browse.VC.db
Source/DSP/.vs/DSP/v17/.wsuo
Source/DSP/.vs/DSP/FileContentIndex/83eb1b6f-a020-4f08-9522-c34bc78ea522.vsidx
Source/DSP/.vs/DSP/FileContentIndex/6a505eb2-efd3-4830-a0ee-b94d9d393fb0.vsidx
Source/DSP/.vs/DSP/FileContentIndex/04f5de84-7d18-4bff-b314-accc57bed6ef.vsidx
JuceLibraryCode/include_juce_dsp.mm
JuceLibraryCode/include_juce_dsp.cpp
Builds/VisualStudio2022/.vs/Loom/v17/Solution.VC.db-wal
Builds/VisualStudio2022/.vs/Loom/v17/Solution.VC.db-shm
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/a5b8d77f0acd7b1e/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/99c918329d92360c/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/78e395f7a6f20260/INCLUDE_JUCE_AUDIO_UTILS.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/2e4ba86e92c820d5/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/Browse.VC.opendb
Builds/VisualStudio2022/.vs/Loom/v17/Browse.VC.db-wal
Builds/VisualStudio2022/.vs/Loom/v17/Browse.VC.db-shm
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/c883d377-17e9-4533-93e7-e348d8c781ff.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/642e92e1-9005-42d9-b571-7932bb7b8d61.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/5d3d99ff-7326-4b87-99b0-910174e62554.vsidx
Builds/VisualStudio2022/x64/Debug/VST3/resources.res
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/unsuccessfulbuild
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/Loom_VST3.lastbuildstate
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/link.secondary.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3/Loom_VST3.log
Builds/VisualStudio2022/x64/Debug/VST3/Loom.vst3/Contents/x86_64-win/Loom.vst3
Builds/VisualStudio2022/x64/Debug/VST3/Loom.vst3/Contents/Resources/moduleinfo.json
Builds/VisualStudio2022/x64/Debug/VST3/Loom.pdb
Builds/VisualStudio2022/x64/Debug/VST3/Loom.lib
Builds/VisualStudio2022/x64/Debug/VST3/Loom.ilk
Builds/VisualStudio2022/x64/Debug/VST3/Loom.exp
Builds/VisualStudio2022/x64/Debug/VST3/Loom.dll.recipe
Builds/VisualStudio2022/x64/Debug/VST3/Loom.dll
Builds/VisualStudio2022/x64/Debug/VST3/Loom.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/resources.res
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST3ManifestHelper.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST3ManifestHelper.log
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/Loom_VST3ManifestHelper.lastbuildstate
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/link.secondary.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Loom_VST.65782880.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_VST3ManifestHelper.obj
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.pdb
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.ilk
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.exe.recipe
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.exe
Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_StandalonePlugin.log
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/unsuccessfulbuild
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/Loom_StandalonePlugin.lastbuildstate
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom.pdb
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/Loom_SharedCode.lastbuildstate
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/Lib.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/CL.11720.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.log
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom.pdb
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom.lib.recipe
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom.lib
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom.Build.CppClean.log
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_graphics_Harfbuzz.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_core_CompilationTime.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2022/Loom_VST3.vcxproj.user
Builds/VisualStudio2022/Loom_StandalonePlugin.vcxproj.user
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/aaee49c2-63f9-42e9-ace9-557363ccb4fc.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/33398bc3-8ee4-4b4b-b320-2ac8ce096b75.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/1d284b16-7db5-47a3-8f97-396d1ec70ccf.vsidx
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/link.secondary.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom_Sta.668A32BD.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom.ilk
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom.exe.recipe
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Loom.exe
Builds/VisualStudio2022/x64/Debug/Shared Code/MorphProcessor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/FormantShiftProcessor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/FFTProcessor.obj
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/f881b9fd61c3d928/FFTPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/e51ab932471d79a/MORPHPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/c6a2fd419d42ef7e/INCLUDE_JUCE_AUDIO_PLUGIN_CLIENT_STANDALONE.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/605ec0744dd9e936/MORPHPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/5131c611430adb01/FORMANTSHIFTPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/43cb6d22b59275bd/FORMANTSHIFTPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/2d2f1bfaa60207a6/INCLUDE_JUCE_AUDIO_DEVICES.ipch
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/9d14c741-c325-460f-8d68-ed7fc7868057.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/44fac918-e16b-478e-935c-0b2d0b6bfc97.vsidx
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/CL.1568.write.1.tlog
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/f9560898a2c11b67/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/49a81694b891d025/INCLUDE_JUCE_AUDIO_PLUGIN_CLIENT_VST3.ipch
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/d875b2dd-f674-47ec-9c6f-89f6143da44d.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/2050fd15-1cff-42b6-a041-1798c151223e.vsidx
Builds/VisualStudio2022/x64/Debug/Shared Code/Loom_SharedCode.tlog/CL.13564.write.1.tlog
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/90794e77e8f02082/PLUGINEDITOR.ipch
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/c680a0d8-76e2-44c7-b0b3-cf47e70f58e1.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/818dbb32-150c-43a6-b108-d07f76b522c2.vsidx
Builds/VisualStudio2022/.vs/Loom/FileContentIndex/7ddc4777-0057-4f4c-a233-9c5306b7990b.vsidx
*.tlog
*.vsidx
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/ccb02bf858dc0f1f/FFTPROCESSOR - COPY.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/40c50cd5d28b193e/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/90e18770977fb28e/NEW_SCALAR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/91e1e7ed4361b760/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/d17934565ca4a2d0/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/efd249a3341a9dff/INCLUDE_JUCE_EVENTS.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/f2cb678315827f79/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/x64/Release/Shared Code/FFTProcessor.obj
Builds/VisualStudio2022/x64/Release/Shared Code/FormantShiftProcessor.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_core.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_core_CompilationTime.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_events.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_graphics_Harfbuzz.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2022/x64/Release/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2022/x64/Release/Shared Code/Loom.lib
Builds/VisualStudio2022/x64/Release/Shared Code/Loom.lib.recipe
Builds/VisualStudio2022/x64/Release/Shared Code/Loom.pdb
Builds/VisualStudio2022/x64/Release/Shared Code/Loom_SharedCode.log
Builds/VisualStudio2022/x64/Release/Shared Code/Loom_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Release/Shared Code/MorphProcessor.obj
Builds/VisualStudio2022/x64/Release/Shared Code/PluginEditor.obj
Builds/VisualStudio2022/x64/Release/Shared Code/PluginProcessor.obj
Builds/VisualStudio2022/x64/Release/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2022/x64/Release/Standalone Plugin/Loom.exe
Builds/VisualStudio2022/x64/Release/Standalone Plugin/Loom.exe.recipe
Builds/VisualStudio2022/x64/Release/Standalone Plugin/Loom.iobj
Builds/VisualStudio2022/x64/Release/Standalone Plugin/Loom.pdb
Builds/VisualStudio2022/x64/Release/Standalone Plugin/Loom_StandalonePlugin.log
Builds/VisualStudio2022/x64/Release/Standalone Plugin/Loom_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Release/Standalone Plugin/resources.res
segExample.csv
realExample.csv
outputExample.csv
magExample.csv
LoomFilterGraph.filtergraph
inputExample.csv
imagExample.csv
csvPlotter.py
Builds/VisualStudio2022/outputExample.csv
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/d2d7b0d8bab8e4d1/INCLUDE_JUCE_CORE.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/c783042db511dddd/DELETE_SCALAR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/71c8a432fac92c2d/INCLUDE_JUCE_GUI_BASICS.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/6b3e6cf85952e224/PLUGINPROCESSOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/6937a8ab1435b56c/PLUGINEDITOR.ipch
Builds/VisualStudio2022/.vs/Loom/v17/ipch/AutoPCH/139932267df7dc61/FFTPROCESSOR.ipch
